<html>
<head>
  <title>FREE TEMPLATES!</title>
</head>

<body>
	<ol>
<li><a href="https://hallobayi.github.io/assets/templates/html-codex/" targ="_blank">HTML Codex</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/MedLife/" targ="_blank">MedLife</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/DocMed/" targ="_blank">DocMed</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/DrCare/" targ="_blank">DrCare</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/DrPro/" targ="_blank">DrPro</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/MedicalCenter/" targ="_blank">MedicalCenter</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/MediMaster/" targ="_blank">MediMaster</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/Medino/" targ="_blank">Medino</a></li>
<li><a href="https://hallobayi.github.io/assets/templates/Medison/" targ="_blank">Medison</a></li>
	</ol>
</body>

</html>