/* source: https://stackoverflow.com/a/55257316 */
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

/* Make Normal Link */
a.stretched-link,
a.stretched-link:hover {
  color: inherit;
}